# Using local async refactor of jaraco.abode from custom_components/lib/abode/
homeassistant>=2024.11
pytest-homeassistant-custom-component
pytest-cov
ruff
mypy
aioresponses
lomond>=0.3.3
importlib_resources>=5.0
six>=1.16.0
platformdirs>=4.0.0
pyturbojpeg
